<!DOCTYPE html>
<html>
  <head>
    <title>Cima</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="p-3 text-center bg-white border-bottom">
      <div class="container">
        <div class="row">
          <!-- Left elements -->
          <div class="col-md-4 d-flex justify-content-center justify-content-md-start mb-3 mb-md-0">
            <a href="#!" class="ms-md-2">
              <img src="https://www.vienormali.it/images/fotocime/1715_cimavenezia1.jpg" height="35" />
            </a>
          </div>
          <!-- Left elements -->

          <!-- Center elements -->
          <% if !user_signed_in?%>
          
          <div class="space-divider2"></div>
          <!-- Right elements -->
          <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
            <div class="d-flex">
              <!-- Signin -->
              <span class="nav-link"> <%=link_to "Sign in", new_user_session_path, class: "nav-link" %> </span>

              <div class="space-divider"></div>

              <!-- Signup -->
              <span class="nav-link"> <%=link_to "Sign up", new_user_registration_path, class: "nav-link" %> </span>

              <div class="space-divider"></div>
              
              <!-- User -->
              <img src="https://friconix.com/png/fi-cnluxx-anonymous-user-circle.png" class="rounded-circle" height="22" alt="" loading="lazy" />
            </div>
          </div>
          <% else %>
          <% if Info.exists?(user_id: current_user.id)%>
            <div class="col-md-4">
              <form class="d-flex input-group w-auto my-auto mb-3 mb-md-0">
                <input autocomplete="off" type="search" class="form-control rounded" placeholder="Search" />
                <button type="submit" class="search-button">
                <span class="icon-span">
                  <img src="https://cdn1.iconfinder.com/data/icons/trycons/32/search-512.png" alt="Icona">
                </span>
                </button>
              </form>
            </div>
          <%else%>
            <div class="space-divider2"></div>
          <%end%>
          <div class="col-md-4 d-flex justify-content-center justify-content-md-end align-items-center">
            <div class="d-flex">
              <!-- Logout -->
              <span class="nav-link"> <%=link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %> </span>

              <div class="space-divider"></div>
              
              <!-- User -->
              <% if !Info.exists?(user_id: current_user.id)%>
                
                <%=link_to "Add info", add_infos_path, class: "nav-link" %> </span>
                
                <div class="space-divider"></div>

                <img src="https://friconix.com/png/fi-cnluxx-anonymous-user-circle.png" class="rounded-circle" height="22" alt="" loading="lazy" />
              <%else%>
              <div class="image-container">
                <%= link_to(image_tag(Info.where(user_id: current_user.id).first.foto), info_user_path(user_id: current_user.id)) %>
              </div>
              <%end%>
            </div>
          </div>
          <% end%>
        </div>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
