<div id="<%= dom_id info %>">
  <p>
    <strong>User:</strong>
    <%= info.user_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= info.username %>
  </p>

  <p>
    <strong>Nome:</strong>
    <%= info.nome %>
  </p>

  <p>
    <strong>Foto:</strong>
    <%= info.foto %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= info.bio %>
  </p>

  <p>
    <strong>Certificazione:</strong>
    <%= info.certificazione %>
  </p>

  <p>
    <strong>Tipo:</strong>
    <%= info.tipo %>
  </p>

</div>
