<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag("post") %>
<!--  HTML DELLA SCHERMATA DI VISUALIZZAZIONE  -->
<span class="border border-dark rounded">
  <div class="container" id="post_card">
    <div id="<%= dom_id @post %>">
      
      <p>
        <h1 id="title" align-center><%= @post.titolo %></h1> 
      </p>

      <p id="Author">
        <strong>Autore :</strong>
        <%= @username %>
      </p>

      <p id="content">
        <%= @post.content %>
      </p>
      
      <p>
        <strong>Tag:</strong>
        <%= @post.tag %>
      </p>

      <p>
        <strong>Topic:</strong>
        <%= @post.topic %>
      </p>
    </div>
  <div>
      <%= link_to "Edit this post", edit_post_path(@post) %> |
      <%= link_to "Back to posts", posts_path %>

      <%= button_to "Destroy this post", @post, method: :delete %>
    </div>
  </div>
</span>
<!--Blocco commmenti -->
<div class="container" id="comments_card">
  <%= render partial: 'shared/comments', locals: { comments: @comments } %>
</div>

