<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag("post") %>
<!--  HTML DELLA SCHERMATA DI VISUALIZZAZIONE  -->
<span class="border border-dark rounded">
  <div class="container" id="post_card">
    <div id="<%= dom_id @post %>">

      <% if @post.editoriale.present? %>
        <% if @post.content.present? %>
          <div id="editoriale">
              <h3 id="banner_repost"><%= @username %> ha pubblicato un editoriale:</h3>
              <p>
                <h1 id="title" align-center><%= @post.titolo %></h1> 
              </p>
              <p id="content">
                <%= @post.content %>
              </p>
              <p>
                <strong>Tag:</strong>
                <%= @post.tag %>
              </p>
          </div>
        <% else %>
          <h3 id="banner_repost"><%= @username %> ha ripubblicato:</h3>
        <% end %>

        <% @opost = @post.editoriale %>
        <% @post = Post.find(@opost)%>
        <%# @username = @ousername %>
        <%# <% @user = @ouser %>
      <% end %>

      <%= render partial: 'posts/postcard', locals: { post: @post, username: @username, user: @user} %>

    </div>
    <div>
      <% if current_user.id == @post.user_id %>
      <%= link_to "Edit this post", edit_post_path(@post), id: "linksection" %> 
      <%#= link_to "Back to posts", posts_path, id: "linksection" %>
      <%= button_to "Destroy this post", @post, method: :delete %>
      <% end %>
      <%= link_to "Aggiungi commento", new_post_comment_path(@post), id: "linksection" %>
      <%= link_to "repost", new_post_path(user_id: current_user.id, editoriale: @post.id), id: "linksection" %>
      <%= link_to 'Segnala', new_segnalazione_path(post_id: @post.id), method: :get, id: "linksection" %>

    </div>
  </div>
</span>
<!--Blocco commmenti -->
<div class="container" id="comments_card">
  <%= render partial: 'shared/comments', locals: { comments: @comments } %>
</div>

