<%= stylesheet_link_tag("feed") %>


<div class="container">
    <div class="row">
        <!--
        <div class="col-sm border border-2 rounded border-dark" id="topic">
            <h3 align="center">General</h3>
        </div>
        -->
        <%= button_to "General", { action: "show" }, class: "col"  %>
        <%= button_to "Filtra per topic general", feed_path(topic: "general"), method: :get %>

        <!--
        <div class="col-sm border border-2 rounded border-dark" id="topic">
            <h3 align="center">Sport</h3>
        </div>
        <div class="col-sm border border-2 rounded border-dark" id="topic">
            <h3 align="center">Entertainment</h3>
        </div>
        -->
        <%= button_to "Sports", { action: "show" }, class: "col"  %>
        <%= button_to "Entertainment", { action: "show" }, class: "col"  %>

    </div>
    <%= @posts = Post.all %>
    <%= render partial: 'shared/feed', locals: { posts: @posts} %>
</div>