<%= stylesheet_link_tag("feed") %>


<div class="container">
    <div class=row id="new_post_banner">
        <%= link_to "Crea nuovo post", new_post_path(user_id: current_user.id), method: :post, id: 'il_mio_link', style: 'color: black; text-decoration:none;' %>
    </div>


    <div class="row">
        <!--
        <div class="col-sm border border-2 rounded border-dark" id="topic">
            <h3 align="center">General</h3>
        </div> -->
        <div class="col-sm border border-2 rounded border-dark" id="topic">
            <%= link_to content_tag(:h3, 'General'), feed_general_path, style: 'color: black; text-decoration:none;' %>
        </div>

        
        <div class="col-sm border border-2 rounded border-dark" id="topic">
            <%= link_to content_tag(:h3, 'Sport'), feed_sport_path, style: 'color: black; text-decoration:none;' %>
        </div>
        <div class="col-sm border border-2 rounded border-dark" id="topic">
            <%= link_to content_tag(:h3, 'Entertainment'), feed_pop_path, style: 'color: black; text-decoration:none;' %>
        </div>
        

    </div>
    <div class='row '>
        <span class="nav-link"> <%=link_to "Nuove Notizie", feed_othernews_path(feedtopic: @feedtopic), class: "nav-link" %> </span>
        <% @languages.each do |language| %>
            <%= link_to language, url_for(lingua: language), class: 'dropdown-item' %>
        <% end %>
    </div>
    <%= render partial: 'shared/feed', locals: { posts: @posts} %>
</div>