<head>
    <%= stylesheet_link_tag("feed") %>
</head>

<div class="row">
        <ul class="list-group">
            <% @posts.each do |post|%>
                <%= link_to post,class:"list-group-item list-group-item-action flex-column align-items-start" do %>
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><%= post.titolo %></h5>
                        <small class="text-muted"><%= post.user.id %></small>
                    </div>
                    <p class="mb-1"><%= post.content %></p>
                    <small class="text-muted"><%= post.tag %></small>                
                <%end%>
            <%end%>
        </ul>
</div>