<%= form_with(model: follow, id: "Autoform") do |form| %>
  <% if follow.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(follow.errors.count, "error") %> prohibited this follow from being saved:</h2>

      <ul>
        <% follow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :follower, style: "display: block" %>
    <%= form.text_field :follower , value: @follow.follower%>
  </div>

  <div>
    <%= form.label :seguito, style: "display: block" %>
    <%= form.text_field :seguito , value: @follow.seguito%>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
